@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

#title {
  font-family: 'Pattaya', sans-serif;
  font-size: 5vw;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
iframe {
  display: block;
}

#home {
  margin-top: 3%;
}