{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="referrer" content="origin-when-cross-origin">
    <title>Learn with Riffable</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'search/album.css' %}" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <iframe type="text/html" width="75%" height="800px" frameborder="0" src="{{ embed }}"></iframe>
    </main>
  </body>
    
</html>